<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food Item</title>
</head>
<%- include('./partials/_navbar.ejs') %>

<body>
    <h1>Edit Food Item</h1>
    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= food.name %>" required />
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="<%= food.quantity %>" required />
        <label for="expirationDate">Expiration Date:</label>
        <input type="date" name="expirationDate" id="expirationDate" value="<%= food.expirationDate %>" required />
        <button type="submit">Update Food Item</button>
    </form>
</body>

</html>