<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
</head>

<%- include('./partials/_navbar.ejs') %>

<body>
    <h1>Welcome to my Pantry</h1>

    <% if (pantry.length > 0) { %>
        <ul>
            <% pantry.forEach(item => { %>
                <li><%= item.name %> - Quantity: <%= item.quantity %> - Expiration Date: <%= item.expirationDate.toDateString() %></li>
            <% }) %>
            <form method="POST" action="/foods/<%= item._id %>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </ul>
    <% } else { %>
        <p>There are no items in this pantry.</p>
    <% } %>

<form method="POST" action="/foods/<%= item._id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>

</body>

<a href="/users/<%= user._id %>/foods/new">Add New Item</a>

</html>